<h1><%= @appointment.appointment_datetime.strftime("%k:%M %B %d, %Y") %></h1>
<div><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %><div>
<div><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %><div>